@using HobbyHub.Models
@model Hobby

@{
    ViewData["Title"] = "Hobby Details";
}

<div class="text-center">
    <h1 class="display-4">Hobby Details</h1>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="border detail-idea">
                <h2>@Model.Name</h2>
                <p>Description: @Model.Description</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="likes-list">
                <h4>Hiking Enthusiasts:</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Proficiency</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Association liked in Model.associations)
                        {
                            <tr>
                                <td>@liked.User.Username</td>
                                <td>@liked.Proficiency</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (!Model.associations.Any(liked => liked.UserId == ViewBag.CurrentUser.UserId))
            {
                <div class="mt-4">
                    <h5>Become an Enthusiast!</h5>
                    <form method="post" asp-action="CreateUserHobby" asp-route-hobbyId="@Model.HobbyId">
                        <div class="form-group">
                            <label class="d-block">Proficiency:</label>
                            <select class="form-control" name="Proficiency">
                                <option value="Novice">Novice</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Expert">Expert</option>
                            </select>
                        </div>
                        <input type="hidden" name="UserId" value="@ViewBag.CurrentUser.UserId" />
                        <input type="hidden" name="HobbyId" value="@Model.HobbyId" />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add to Hobbies!</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>

<div class="mt-4">
    <a href="/Edit/@Model.HobbyId" class="btn btn-outline-primary footer-button">Edit Hobby</a>
</div>
